<h1> <%= @task.title %> </h1>

<p>
  <%= @task.details %> --
  <%= @task.completed ? "COMPLETED" : "NOT COMPLETED" %>
</p>

<%= link_to "Show all tasks", tasks_path  %>
<%= link_to "Edit task", edit_task_path  %>
<%= link_to "Delete task", task_path(@task), method: :delete, data: { confirm: "Are you sure?" }  %>

